.edge
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 4px;
    BACKGROUND: #006699;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #000000 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #000000 1px solid
}
.lightedge { BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; BACKGROUND: #C0D3E4; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid }
